ul {
    background-color: aquamarine;
    list-style-type: none;
    padding: 0;
  }

  li {
    margin: 5px 0;
    cursor: pointer;
  }

  .submenu {
    display: none;
  }

  .active {
    display: block;
  }