.uno {
    width: 100%;
    font-size: 1.8em;
    background-color: lightcoral;
    height: 100px;
    height: 300px;
}
.dos {
    width: 80%;
    font-size: 1.1em;
    background-color: aquamarine;
    height: 50px;
    height: 100px;
}