a{
    text-decoration: none;
    color: black;
    padding: 0 5% 0 5%;
}

a:hover{
    background-color: #a5f8c3;
}

.divi{
    display: flex;
    float: right;
    width: 200px;
    height: 200px;
    padding-top: 5%;
    background-color: red;
    color: white;
    font-size: 14px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    border: 1px solid black;
}